<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mage School</title>

    <link type="text/css" rel="stylesheet" href="css/main.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Eagle+Lake' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <div id="container">

        <!-- BEGIN SPELLBOOK -->
        <div id='spellbook'>
            <div id='logIn' class='clearfix'>
                <div class='labelWrap'>
                    <label>Name:</label><br>
                    <input type='text' name='name' id='inputName'>
                </div><!-- /labelWrap -->
            </div><!-- /logIn -->

            <div id='spellColWrap' class='clearfix'>
                <div class='spellCol fireBG'>
                    <h2>Fire</h2>
                    <button id='fire1' class='bookTypeFire bookLevel1'></button>
                    <h3>Ember</h3>
                    <button id='fire2' class='bookTypeFire bookLevel2'></button>
                    <h3>Flare</h3><button id='fire3' class='bookTypeFire bookLevel3'></button>
                    <h3>Inferno</h3>
                </div>
                <div class='spellCol woodBG'>
                    <h2>Wood</h2>
                    <button id='wood1' class='bookTypeWood bookLevel1'></button>
                    <h3>Twig</h3>
                    <button id='wood2' class='bookTypeWood bookLevel2'></button>
                    <h3>Splinter</h3>
                    <button id='wood3' class='bookTypeWood bookLevel3'></button>
                    <h3>Timber</h3>
                </div>
                <div class='spellCol waterBG'>
                    <h2>Water</h2>
                    <button id='water1' class='bookTypeWater bookLevel1'></button>
                    <h3>Shower</h3>
                    <button id='water2' class='bookTypeWater bookLevel2'></button>
                    <h3>Wave</h3>
                    <button id='water3' class='bookTypeWater bookLevel3'></button>
                    <h3>Deluge</h3>
                </div>
                <div class='spellCol metalBG'>
                    <h2>Metal</h2>
                    <button id='metal1' class='bookTypeMetal bookLevel1'></button>
                    <h3>Sliver</h3>
                    <button id='metal2' class='bookTypeMetal bookLevel2'></button>
                    <h3>Shard</h3>
                    <button id='metal3' class='bookTypeMetal bookLevel3'></button>
                    <h3>Spike</h3>
                </div>
                <div class='spellCol earthBG'>
                    <h2>Earth</h2>
                    <button id='earth1' class='bookTypeEarth bookLevel1'></button>
                    <h3>Rumble</h3>
                    <button id='earth2' class='bookTypeEarth bookLevel2'></button>
                    <h3>Boulder</h3>
                    <button id='earth3' class='bookTypeEarth bookLevel3'></button>
                    <h3>Quake</h3>
                </div>
            </div>
            <div id='selectedSpellsWrap'>
                <span id='spellSelected1' class='inactive'></span>
                <span id='spellSelected2' class='inactive'></span>
                <span id='spellSelected3' class='inactive'></span>
            </div>
            <button id='commitSpells' class='submit'>Commit</button>
        </div><!-- /spellbook -->
        <!-- END SPELLBOOK -->

        <!-- BEGIN ARENA -->
        <div id='arena'>
            <div id='player1Wrap'>
                <div id='player1Name'>Player 1</div>
                <div id='player1HPBarWrap'>
                    <div id='player1HPBar'></div>
                </div><!-- /player1HPBarWrap -->
            </div><!-- /player1Wrap -->

            <div id='player2Wrap'>
                <div id='player2Name'>Apprentice</div>
                <div id='player2HPBarWrap'>
                    <div id='player2HPBar'>
                    </div>
                </div>
            </div><!-- /player2Wrap -->

            <div id='spellBar'>
                <button id='spellBarLevel1' class='spellLevel1'></button>
                <button id='spellBarLevel2' class='<%= spellLevel2 %>'></button>
                <button id='spellBarLevel3' class='<%= spellLevel3 %>'></button>
            </div><!-- /spellBar -->

            <div id='battleDisplay'>
            </div>
        </div><!-- /arena -->
        <!--  END ARENA -->

    </div><!-- /container -->
</body>
<script src='spellbook.js'></script>
<script src='battle.js'></script>

</html>